.input__label {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    padding-bottom: 12px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }

  .input__label:not(:last-of-type) {
    border-bottom: 1px #E8E8E8 solid;
  }

  .input__input {
    text-align: end;
    flex-basis: 50%;
    outline: none;
    border: none;
  }

  .input__input:disabled {
    color: #fff;
    background-color: transparent;
  }

  .input__edit {
    font-weight: 400;
    font-size: 13px;
    color: black;
    margin: 220px auto 0 auto;
  }


.input__error {
    color: #EE3465;
  }
  
  .error {
    opacity: 0;
    transition: 0.3s ease all;
    color: #EE3465;
    /* min-height: 24px; */
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    visibility: hidden;

  }
  
  .error_active {
    visibility: visible;
    opacity: 1;
  }