@import url(./vendors/normalize.css);
@import url(./vendors/fonts/inter.css);

.page {
  margin: 0 auto;
  color: black;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  max-width: 1280px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
